HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.metadata/
.metadata_123/

### Spring Boot Config ###
# 忽略所有环境特定的配置文件
application-*.properties
application-*.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Eclipse metadata
.metadata/
.args
.classpath
.project
.settings/
.factorypath

# VS Code metadata
.vscode/

### VS Code ###
.vscode/
/bin/

uploads/